:root {
    --edge-margin: 5px;
    --inter-component-margin: 10px;
}

/* ----------- Website View ----------- */
#browser:not(.inner) #webpage-stack {
    /* Note: This is only when not seeing full-screen content */
    border-radius: var(--radius);
    margin: var(--inter-component-margin);
}

/* -------- Side Panel--------  */
#panels-container {
    /* Remove Background of default side panel  */
    background-color: transparent !important;

    /* Add Spacing Appropriate to where Panel is */
    &.right {
        margin-right: var(--edge-margin);
    }

    &.left {
        margin-left: var(--edge-margin);
    }

    #switch {
        /* center Toolbar and remove blur for whole panel */
        justify-content: center;
        backdrop-filter: none !important;

        &>div {
            /* Create Panel Dock
            - Make size of tools
            - Make background Color
            - Add Blur
            - Add Radius
            - Add Padding
            */
            flex: none !important;
            background: var(--colorBgAlphaBlur);
            backdrop-filter: var(--backgroundBlur);
            border-radius: var(--radius) !important;
            padding: 5px;
        }
    }
}

/* If Full-Screen Content (takes over whole screen)
#browser.inner {
    #webview-container { 
        padding: 0 !important;
    }
} */

